@import "src/styles/colors.scss";

.keyword-row {
    display: flex;
    align-items: center;

    &-title {
        text-align: left;
        color: var(--text-black);

        h3 {
            margin: 15px 0;
        }
    }

    .keyword-row-reset-btn {
        padding: 0 12px;
    }
}

.keyword-input {
    text-align: center;
    margin-top: 15px;
    border: var(--filter-btn-border) 1px solid !important;
    color: var(--text-black) !important;
    background-color: var(--background-color) !important;

    &::placeholder {
        color: #888888 !important;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
