@import "src/styles/colors.scss";
@import "src/styles/mediaQuery.scss";

.popover-content {
    background-color: black;
    position: absolute;
    z-index: 1050;
    border-radius: 5px;
    border: none;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: opacity;

    &.close {
        visibility: hidden;
        opacity: 0;
    }

    &.open {
        visibility: visible;
        opacity: 1;
    }
}
