@import "src/styles/colors.scss";

$craft-mode-count: 11;

.craft-selector {
    .craft-selector-header {
        margin-top: 10px;

        .pagination {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 !important;
            margin-bottom: 10px !important;
            height: 50px;
        }

        .page-btn {
            padding: 0 5px;
            height: 50px;
        }
    }

    .craft-select-table {
        margin-bottom: 0;

        tr,
        td {
            // background-color: transparent !important;
            border-color: var(--table-border);
        }

        td {
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: calc(100% / $craft-mode-count);
        }

        thead {
            position: sticky;
            // top: 53px;
            z-index: 5;
            height: 95px;
        }

        tbody {
            position: relative;
            z-index: 1;
        }

        &-wrapper {
            // padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            overflow-x: scroll;
        }
    }

    .craft-header-type {
        text-align: center;
        padding: 10px !important;
        background-color: #343a40 !important;

        &-text {
            font-weight: 700;
            color: white;
        }
    }

    .keyword-input {
        margin: 0;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;

        &-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-row {
            width: 100%;
            padding: 10px 0;
            margin: 0 !important;

            div {
                padding: 0;
            }

            .btn {
                border-bottom-left-radius: 0 !important;
                border-top-left-radius: 0 !important;
            }
        }

        &-col {
            display: flex;
            justify-content: center;
            align-items: center;

            form {
                width: 100%;
            }
        }
    }

    .craft-info-tr {
        height: 75px;
        cursor: pointer;

        td {
            background-color: rgba(120, 120, 120, 0.3) !important;
            border-top-style: double;
            border-top-width: 3px;
        }

        .craft-name {
            vertical-align: middle;
            font-size: 1.2rem;
            text-align: center;
            color: var(--text-black);
            font-weight: 600;
        }

        .craft-objective {
            vertical-align: middle;

            & > div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }

            img {
                margin: 3px;
            }
        }
    }

    .craft-image-tr {
        height: 60px;

        .craft-image {
            width: calc(100% / $craft-mode-count);
            padding: 10px !important;
            background-color: transparent;
            cursor: not-allowed;

            .result-image-id-tag {
                margin: 0 !important;
            }

            &-selected {
                background-color: var(--filter-btn-checked-green-bg);

                -webkit-box-shadow: inset 0px 0px 0px 2px #006d01;
                -moz-box-shadow: inset 0px 0px 0px 2px #006d01;
                box-shadow: inset 0px 0px 0px 2px #006d01;
            }

            &.craft-have-mode {
                cursor: pointer;

                img {
                    cursor: pointer;
                }
            }
        }
    }

    .result-wrapper {
        margin-bottom: 20px;
    }

    .result-id-panel {
        background-color: var(--result-number-panel-background);
        border: 2px #0080ff solid;
        padding: 20px !important;
        font-size: 1.5em;
        color: #000079;
        border-radius: 20px;
        cursor: pointer;

        &-copied {
            background-color: var(--result-number-panel-success-background);
            border: 2px #5bd876 solid;
        }
    }

    .note-row {
        font-size: 1.5em;
        color: var(--text-black);
        text-align: center;
        padding: 10px;
    }

    .no-result-tr {
        display: contents;
        cursor: default;

        td {
            border-top-style: solid;
            border-top-width: 1px;
            background-color: transparent !important;
        }

        .no-result {
            text-align: center;
            color: #888888;

            h1 {
                margin: 0;
            }
        }
    }
}
