@import "src/styles/colors.scss";

.result-row {
    display: flex;
    align-items: center;

    &-title {
        display: flex;
        align-items: center;
        text-align: left;
        color: var(--text-black);

        h3 {
            margin: 15px 0;
        }
    }

    .and-or-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: var(--btn-warning) !important;
        color: var(--text-black) !important;
        height: 24px;
        min-width: 40px;
        padding: 0 12px 0 15px;
        margin-left: 1.5rem;
        cursor: default;

        &::before {
            display: flex;
            content: "";
            border: 3px solid rgba(255, 255, 255, 0.6);
            top: 0;
            position: absolute;
            left: 0px;
            height: 24px;
            width: 0;
        }

        &::after {
            display: flex;
            content: "";
            border: transparent 12px solid;
            border-left-color: var(--btn-warning) !important;
            top: 0;
            position: absolute;
            right: -24px;
            height: 0;
            width: 0;
        }

        &.and-tag,
        &.m-and-tag {
            background-color: var(--btn-danger) !important;
            color: var(--text-white) !important;

            &::after {
                border-left-color: var(--btn-danger) !important;
            }
        }
    }

    .uid-tag {
        vertical-align: middle;
        font-size: 1.2rem;
        color: gray;
        padding: 0 10px;
        text-align: end;

        @media (max-width: 576px) {
            text-align: center;
        }
    }
}

.result-wrapper {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .row {
        padding: 0;
    }

    .sort-by-title {
        display: flex;
        align-items: center;
        color: var(--result-sort-title);
        background-color: var(--result-sort-title-bg);
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 10px;

        img {
            width: 30px;
            margin-right: 6px;
        }

        &-charge {
            padding-left: 15px;
        }

        &.w {
            color: var(--water);
        }
        &.f {
            color: var(--fire);
        }
        &.e {
            color: var(--earth);
        }
        &.l {
            color: var(--light);
        }
        &.d {
            color: var(--dark);
        }
    }

    .no-result {
        padding-top: 20px;
        text-align: center;
        color: #888888;
    }
}
